cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
google-api-core==2.7.2
google-auth==2.6.6
google-cloud-appengine-logging==1.1.1
google-cloud-audit-log==0.2.0
google-cloud-core==2.3.0
google-cloud-firestore==2.4.0
google-cloud-logging==3.0.0
google-cloud-pubsub==2.12.0
googleapis-common-protos==1.56.0
grpc-google-iam-v1==0.12.4
grpcio==1.44.0
grpcio-status==1.44.0
httplib2==0.20.4
idna==3.3
oauth2client==4.1.3
packaging==21.3
proto-plus==1.20.3
protobuf==3.20.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.8
requests==2.27.1
rsa==4.8
six==1.16.0
strava-calendar-summary-data-access-layer==0.0.17
-e git+https://github.com/SebTota/StravaCalendarSummaryUtils.git@36d0d3a6adc2a4143e91534fba47f3cd903d8df4#egg=strava_calendar_summary_utils
urllib3==1.26.9
